@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:wght@500;600&display=swap');

body {
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  min-height: 2rem;
  margin: auto 2rem;
}

.logoimg {
  width: 10rem;
  /* margin: auto 2rem; */
}

#intro {
  display: flex;
  text-align: left;
  background-color: #003145;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#introText {
  width: 50%;
  color: #FFFFFF;
}

#introText h1 {
  font-size: 48px;
  line-height: 56px;
}

#introText p {
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: 500;
  color: #ECECEC;
}

#createBTN {
  background: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  line-height: 18px;
  color: #003145;
  padding: 1rem;
  margin-bottom: 4rem;
  transition: all fade-in;
}

#createBTN:hover {
  transform: scale(1.1);
}

#createBTN:active {
  transform: scale(1);
}

#achievement {
  background-color: #002a3b;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
  color: #FFFFFF;
}

.achievementCard {
  align-items: center;
  text-align: left;
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.icon {
  display: inline;
  float: left;
}

.achievementText {
  margin: 1rem;
  line-height: 20px;
}

.achievementText>* {
  margin: 0 1rem;
}

.figure {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

}

.tag {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

#participate {
  margin-top: 5rem;
}

.participateHead {
  font-size: 32px;
  line-height: 20px;
  text-align: center;
}

#participateContainer {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 3rem auto;
  padding: 3rem;
  justify-content: space-between;

}

.participateCard {
  flex: 0 0 40%;
  text-align: left;
  margin: 2.5rem auto;
}

.participateTittle {
  font-size: 24px;
  line-height: 50px;
  letter-spacing: -0.03em;
}

.participateContent {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #64607D;
}

#searchchallenges {
  background-color: #012A3A;
  min-height: 25vh;
  margin-top: 5rem;
  text-align: center;
}
#searchHead{
  font-size: 28px;
  color: #FFFFFF;
  margin: 2rem;
  padding-top: 2rem;
}
#searchbox{
  width: 60%;
  height: 36px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 0.5rem;
  border-radius: 15px;
}
.search{
  width: 80%;
  text-align: left;
}
#searchbox input{
  border: transparent;
  height: 100%;
  width: 90%;
}
#searchbox input:focus{
  outline: none !important;
}
.filter{
  border: none;
  border-radius: 5px;
}
#displaychallenges {
  background-color: #003145;
  padding-top: 6rem;
}

.challengecontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.challengeCard {
  flex: 0 0 30%;
  margin: 1rem;
  background: white;
  text-align: center;
  width: min-content;
  border-radius: 25px;
  /* padding: 1rem; */
}

.challengeIMG {
  width: 100%;
}

.status {
  padding: 0.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: rgba(242, 201, 76, 0.25);
  color: #666666;
  border-radius: 5px;
  width: min-content;
  margin: 1rem auto;
}
.upcoming{
background: rgba(242, 201, 76, 0.25);
border-radius: 5px;
}
.active{
  background: rgba(68, 146, 76, 0.24);
border-radius: 5px;
}
.past{
  background: rgba(255, 60, 0, 0.170148);
border-radius: 5px;
}
.challengeName {

  font-size: 16px;
  line-height: 26px;
  width: 70%;
  margin: auto;
  color: #000000;
  min-height: 3.5rem;
}

.challengeState {
  font-size: 14px;
  line-height: 14px;
  color: #444444;

}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #454545;
  font-size: 14px;
}

.endTime {
  font-size: 18px;
  line-height: 28px;
}

.challengeBTN {
  background: #44924C;
  border-radius: 10px;
  margin: 2rem;
  padding: 0.6rem 1rem;
  border: transparent;
  font-size: 14px;
  color: #FFFFFF;
}

.green {
  color: #44934D;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* Create Challenge Page */
#createChallenge {
  width: 80%;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

#createChallenge h1 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.row {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  color: #333333;
}

.row label {
  font-size: 16px;
  font-weight: 500;
}

.row input {
  border: 1px solid #B7B7B7;
  border-radius: 5px;
  width: 40%;
  height: 36px;
  margin: 0.5rem 0;
}

.row textarea {
  width: 60%;
  margin: 0.5rem 0;
  border: 1px solid #B7B7B7;
  border-radius: 5px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#uploadBTN {
  border: 1px solid #B7B7B7;
  color: #666666;
  padding: 8px 20px;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  margin: 0.5rem 0;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  width: 15%;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.row select {
  margin: 0.5rem 0;
  border: 1px solid #B7B7B7;
  border-radius: 5px;
  width: 15%;
  height: 36px;
}

.createBTN {
  background-color: #44924C;
  width: 15%;
  height: 36px;
  border-radius: 5px;
  border: transparent;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
}

/* Details Page */



#detailsIntro {
  min-height: 30vh;
  background-color: #003145;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsContainer {
  width: 70%;
  display: flex;
  margin: 4rem;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.detailsContainer>* {
  text-align: left;
  margin: 1rem 0;
}

.dateTime {
  padding: 0.50rem;
  background: #FFCE5C;
  border-radius: 5px;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
}

.detailsHeading {
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}

.shortDesc {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.level {
  background-color: white;
  color: #003145;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 0.50rem;
  border-radius: 5px;
}

#options {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}

.overview {
  width: 8%;
  text-align: center;
  border-bottom: 2px solid #44924C;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

#detailsEdit {
  background-color: #44924C;
  border-radius: 10px;
  border: transparent;
  padding: 1rem;
  width: 5rem;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}

#detailsDelete {
  border: 2px solid #DC1414;
  color: #DC1414;
  border-radius: 10px;
  padding: 1rem;
  width: 5rem;
  margin: 1rem;
  font-weight: 600;
  font-size: 14px;
}

.detailsDescription {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #64607D;
  letter-spacing: -0.02em;
  width: 80%;
  margin: 4rem auto;
}